body{
    font-family: Arial, sans-serif;
}

table{
    width: 100%;
    
}

tbody{
    text-align: left;
}
tr{

    border-bottom: 5px solid black;

}
ul{
    padding-inline-start: 20px;
}

.label-bold{
    font-weight: bold;
}
.title-name{
    text-align: center;
}

th{
    text-align: left;
}
.section-title{
    border-top: 5px solid black;
}