@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(.7, .7)
    }

    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fade-in 1.4s;
}

.navbar ul {
    padding-inline-start: 0px;
    list-style-type: none;
    display: contents;
}

.navbar {
    overflow: hidden;
    background-color: yellow;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: black;
    color: yellow;
}

body {
    margin: auto;
    font-size: 28px;
    font-family: Montserrat, Arial;
    background-color: #000000;
    color: white;
}

.descriptionButtons a {
    font-size: 20px;
    font-family: Montserrat, Arial;
    padding: 15px;

}

.descriptionButtons a:hover {
    border: 2px solid white
}


.logo {
    display: flex;
    margin-left: auto;
    margin-top: 5%;
    width: 30%;
    height: 30%;
    margin-right: 50px;
    background: #555;
    border-radius: 50%;
}


ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

.active {
    background-color: #4CAF50;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.description {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 300px;
    justify-content: center;

}

section h3{
    margin: auto;
    width: 50%;
    text-align: center;
    color:yellow;
}

.description div {

    justify-content: center;


}

header {
    margin-top: 200px;
    height: 800px;
}

span {
    color: #ffff00;
}

.explore {
    font-family: Montserrat, Arial;

    background-color: #ffff00;
    border-radius: 9999px;
    height: 80px;
}

.explore {
    font-family: Montserrat, Arial;
    background-color: #ffff00;
    color: black;
    border-radius: 9999px;
    padding: 80px;
}

.resume {
    font-family: Montserrat, Arial;
    background-color: rgb(0, 0, 0);
    color: yellow;
    border-radius: 9999px;
    padding: 80px;
}

a:active {
    color: #111
}

.skillsContainer{
    text-align: center;
    font-size: 0.7rem;
    border-color:#ffffff;
    border-radius: 50px;
    padding: 48px;
    
}

section {
    padding-bottom: 50px;

    
}



.skillsGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;

}
.skillsGrid li {
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    border: 1px solid #ffff00;
}

.skillsGrid li:hover {
    box-shadow: 2px 2px 50px yellow;
}
.skillsGrid li img {
    width: 35px;
    height: 35px;
}


.projDescription {
    margin-left: 30px;
    
}
.projDescription ul , a{
    font-size: 20px;
    
}
.projImage{
    width: 800px;

}
.projImage img{
    width: 500px;
    border-radius: 10px;
    margin-right:20px;
    margin-top:50px;

    border: 1px solid #ddd;
}
.projLinks a{
    padding-right: 20px;;
    color:yellow
}

.projLinks a:hover{
    text-decoration: underline;
}

.project{
    display: flex;
    border: 1px solid yellow;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
    padding:30px;
    
}
a{
    text-decoration: none;
    color: #ffffff;

}
footer a:hover{
    text-decoration: underline;

}
footer{

    margin-top: 70px;
}
.typeBox{
    margin:auto;
    width:50%;
    padding: 10px;
    display: flex;
    justify-content: center;

}
.socials{
    text-align: center;
    float: none;
}
.socials a:hover{    
    text-decoration: underline;
}
.contact-icon{
    width: 35px;
    height: 35px;
    padding-right:20px;
}
